@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 phone-book-heading" 
        style="font-weight: bold;">
        <img src="/images/phone-book.png" 
        alt="Icon" 
        style="width: 30px; height: 30px; 
        vertical-align: middle;" />
        PHONE BOOK
        </h1>
    <p> Nande Mzantsi</p>
</div>

<style>
    .phone-book-heading {
        color: blue; /* Blue text color */
        text-shadow: -1px -1px 0 black, /* Top-left shadow */
        1px -1px 0 black, /* Top-right shadow */
        -1px 1px 0 black, /* Bottom-left shadow */
        1px 1px 0 black; /* Bottom-right shadow */
    }
</style>